body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.web{
    color: blue;
    background-color: #2F303A;
    width: 1600px;
}

.website{
    background-color: #2F303A;
    color: white;
    width: 1600px;
    height: 200px;
}

.webtwo{
    background-color: #2F303A;
    width: 1600px;
}

li{
    display: inline-flex;
    background: #F5F4FA;
    width: 100px;
}

.noli:hover{
    
    width: 130px;
    background-color: #2F303A;
    color: white;
}

.click:hover{
color: blue;
}

.click:focus{
    color: blue;

}

div{
    display: inline-block;
}

.test{
    color: aliceblue;
}